<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stripe</title>
    <link type="text/css" rel="stylesheet" href="static/stylesheets/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="static/stylesheets/jquery.dataTables.css">
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/font-awesome.min.css">
    <script src="static/javascripts/jquery.min.js"></script>
    <script src="static/javascripts/bootstrap.min.js"></script>
    <script src="static/javascripts/jquery.dataTables.js"></script>
    <style type="text/css" media="screen">
        form article label {
          display: block;
          margin: 5px;
        }
        form .submit {
          margin: 15px 0;
        }
    </style>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>